body {
  font-family: sans-serif;
}

.question {
  text-align: center;
  font-size: 2em;
}

.questionNumber {
  text-align: center;
  padding: 2em;
  font-size: 1.5em;
}

.answers {
  font-size: 1em;
}

.answers label {
  vertical-align: left;
  font-size: 1.2em;
}

.answers input {
  margin-left: 46em;
  vertical-align: left;
  width: 1.2em;
  height: 1.2em;
}

.button {
  text-align: center;
}

.answers button {
  width: 5%;
  padding: .5em;
  margin: 0.5em;
}

.score {
  text-align: center;
}
